*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	margin: 0 !important;
}

.pure-menu-item:hover {
	cursor: pointer;
}

dialog {
	margin: 0 auto;
}

dialog > * {
	margin: 5px !important;
}





// regular
@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	src: url(/public/fonts/IBMPlexSans-Regular.ttf) format("truetype");
}

/* @font-face {
	font-family: 'IBM Plex Sans';;
	font-style: italic;
	src: url(/public/fonts/IBMPlexSans-RegularItalic.ttf) format("truetype");
} */

// semi bold
@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: bold;
	src: url(/public/fonts/IBMPlexSans-Bold.ttf) format("truetype");
}

/* @font-face {
	font-family: 'IBM Plex Sans';
	font-style: italic;
	font-weight: bold
	src: url(/public/fonts/IBMPlexSans-BoldItalic.ttf) format("truetype");
} */


body {
	/* line-height: 1.6; */
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 15px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

table {
	border-collapse: collapse;
}
