:root {
	--oc-white: #ffffff;
	--oc-black: #000000;

	--oc-gray-0: #f8f9fa;
	--oc-gray-1: #f1f3f5;
	--oc-gray-2: #e9ecef;
	--oc-gray-3: #dee2e6;
	--oc-gray-4: #ced4da;
	--oc-gray-5: #adb5bd;
	--oc-gray-8: #343a40;
	--oc-gray-9: #212529;

	--bulma-red: hsl(348, 100%, 61%)

	--bulma-danger: var(--bulma-red)

	--nav-border: 5px;
	--settings-border: 10px;
}

dialog > * {
	margin: 5px;
}

html {
	/* Override BulmaCSS */
	overflow: initial;
}

body {
	font-family: sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

table {
	border-collapse: collapse;
}

@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	src: url(/public/fonts/IBMPlexSans-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'IBM Plex Sans';
	font-style: italic;
	src: url(/public/fonts/IBMPlexSans-RegularItalic.ttf) format('truetype');
}

@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: bold;
	src: url(/public/fonts/IBMPlexSans-Bold.ttf) format('truetype');
}

@font-face {
	font-family: 'IBM Plex Sans';
	font-style: italic;
	font-weight: bold;
	src: url(/public/fonts/IBMPlexSans-BoldItalic.ttf) format('truetype');
}
